
      body {
        padding: 1;
        margin: 1;
      }
      h1 {
        color: white;
        padding: 20px;
      }
      input {
        font-size: 16px;
        font-family: Helvetica, sans-serif;
      }
      body {
        background-color: #778899;
        font-family: Arial;
        padding-bottom: 50px;
      }

      .container {
        background-color: #ffffff;
        max-width: 50%;
        margin: 20px auto 0 auto;
        padding: 15px 20px 20px 50px;
      }

      .form-row {
        padding: 120px;
        display: flex;
      }

      .form-row label {
        padding-right: 50px;
      }

      .form-row input {
        padding-right: 50px;
        flex: 1;
      }
      label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 20px;
}