<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
      <link rel="stylesheet" href="registre.css">
   <style>
   </style>
  </head>
  <body>

    <h1>Register to rate a book:</h1>

    <div class="container">
      <form
       name="frmInfo"
       action="/register"
       method="post"
       onsubmit="return checkform(this);"
     >
          <form action="{{ url_for('registre') }}" method="post">
        <!-- text box for user to enter their users address -->

        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" minlength="2" required>
        </div>
       <!-- text box for user to enter their pasword -->
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
             minlength="6" required>
            <option value="{{ flight.id }}">{{ flight.origin }} to {{ flight.destination }}</option>
       </div>
        <!-- button for user to submit the form -->
    <input type="submit" value="Register">

      </form>

    </div>

  </body>
</html>
